---
layout: page
---
<!-- Main Content -->
<ul class="post-list">
    <% page.posts.each(function(post){ %>
        <li class="post-preview">
            <h2 class="post-title">
                <%- post.title || "Untitled" %>
                <span class="post-subtitle">
                    <%- post.date.format(config.date_format) %>
                </span>
            </h2>
            <% if (post.excerpt){ %>
                <div class="post-content-preview">
                    <%- post.excerpt %>
                </div>
            <% } %>
            <a href="<%- config.root %><%- post.path %>" target="_blank">READ MORE</a>

        </li>
    <% }); %>
</ul>
<!-- Pager -->
<ul class="pager">
    <% if (page.prev){ %>
        <li class="previous">
            <a href="<%- config.root %><%- page.prev_link %>">&larr; Newer Posts</a>
        </li>
    <% } %>
    <% if (page.next){ %>
        <li class="next">
            <a href="<%- config.root %><%- page.next_link %>">Older Posts &rarr;</a>
        </li>
    <% } %>
</ul>

