---
layout: layout
---

<!-- Main Content -->
<div class="container site-heading">
    <!-- Post Container -->
    <div class="home-container">
        <%- page.content || body %>
    </div>

    <!-- Sidebar Container -->
    <div class="sidebar-container">
        <% if(config['about-me'] == true) { %>
            <!-- Short About -->
            <section class="visible-md visible-lg">
                <hr>
                <h5><a href="<%= config.root %>about/">ABOUT ME</a></h5>
                <div class="short-about">

                    <% if(config['about-avatar']) { %>
                        <img src="<%= config['root'] %><%= config['about-avatar'] %>" />
                    <% } %>

                    <% if(config['about-description']) { %>
                        <p><%= config['about-description'] %></p>
                    <% } %>

                    <%- partial('_partial/SNS') %>
                </div>
            </section>
        <% } %>
        <%- partial('_partial/featuredTags') %>
        <%- partial('_partial/friends') %>
    </div>

</div>
